body {
  font-family: 'Roboto';
}

.wrapper {
  margin: 10px;
  max-width: 600px;
}

.tasks {

}

.task {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task__main {

}

.task__text {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task__dueDate {
  margin-top: 10px;
}

.task__ins {
  flex-shrink: 0;
}

.new-task {

}

.AccountsControl form {
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.AccountsControl form > * {
  margin-bottom: 10px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition-duration: 1s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  animation: exit 0.7s forwards;
}

@keyframes exit {
  50% {
    opacity: 0;
  }
  to {
    height: 0;
    opacity: 0;
  }
}