body {
  font-family: 'Roboto';
  min-height: 100vh;
}

.wrapper {
  margin: 10px;
  max-width: 600px;
}

.tasks {
  
}

.task {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task__main {

}

.task__text {
  flex-basis: 100%;
  display: flex;
  align-items: center;
}

.task__ins {
  flex-shrink: 0;
}

.new-task {

}